<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title *ngIf="codOrderId">Pedido registrado!</ion-title>
		<ion-title *ngIf="!codOrderId">Confira seu pedido</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<div *ngIf="!codOrderId">
		<ion-card>
			<ion-card-header>
				Itens do pedido
			</ion-card-header>

			<ion-list>
				<ion-item *ngFor="let item of cartItens">
					<ion-thumbnail item-start>
						<img [src]="item.product.imageUrl || 'assets/imgs/prod.jpg'">
					</ion-thumbnail>
					<h2>{{item.product.name}}</h2>
					<p>{{item.product.price | currency}}</p>
					<p class="nolinebreak">{{item.quantity}}</p>
					<p item-end>{{item.product.price * item.quantity | currency}}</p>
				</ion-item>

				<ion-item>
					<h2>Total</h2>
					<h2 item-end>{{total() | currency}}</h2>
				</ion-item>
			</ion-list>
		</ion-card>

		<ion-card>
			<ion-card-header>
				Cliente
			</ion-card-header>
			<ion-item>
				<h2>{{client?.nome}}</h2>
				<p>{{client?.email}}</p>
			</ion-item>
		</ion-card>

		<ion-card>
			<ion-card-header>
				Endereço de entrega
			</ion-card-header>

			<ion-item>
				<h2>{{address?.logradouro}}, {{address?.numero}}</h2>
				<p>{{address?.complemento}} {{address?.bairro}} CEP {{address?.cep}}</p>
				<p>{{address?.cidade.nome}}, {{address?.cidade.estado.nome}}</p>
			</ion-item>
		</ion-card>

		<ion-card>
			<ion-card-header>
				Pagamento
			</ion-card-header>

			<ion-item *ngIf="order.pagamento['@type']=='pagamentoComCartao'">
				<h3>Pagamento com cartão</h3>
				<p>Parcelas: {{order.pagamento.numeroDeParcelas}}</p>
			</ion-item>
			<ion-item *ngIf="order.pagamento['@type']=='pagamentoComBoleto'">
				<h3>Pagamento com boleto</h3>
			</ion-item>
		</ion-card>

		<button ion-button block (click)="checkout()">Confirmar pedido</button>
		<button ion-button block outline (click)="back(1)">Voltar</button>
	</div>

	<div *ngIf="codOrderId">
		<ion-card>
			<ion-card-header>
				Seu pedido foi registrado!
			</ion-card-header>
			<ion-item>
				<h2>Código do pedido: {{codOrderId}}</h2>
				<p>Verifique seu email</p>
			</ion-item>
		</ion-card>

		<button ion-button block outline (click)="back(2)">Voltar</button>
	</div>

</ion-content>